extends admin_layout

block scripts
  script(rel="text/javascript" src="/javascripts/admin_drinks.js" id="main" data-drinks=JSON.stringify(drinks))

block title
  title #{title}

block body
  .title #{title}

  table.table.table-striped
    thead
      tr
        th ID
        th Drink Name
        th Price
    tbody
      each key in drinks
        tr
          td #{key.id}
          td #{key.name}
          td
            input.number(type="text" value="#{key.price}" id="#{key.id}")

  .row.btn-ary
    .col-md-3.col-md-offset-2
      button#saveChanges.btn.btn-primary.center-block
        i.glyphicon.glyphicon-floppy-saved
        span.icon-text 保存
    .col-md-3.col-md-offset-2
      button#discardChanges.btn.btn-warning.btn.center-block
        i.glyphicon.glyphicon-floppy-remove
        span.icon-text 破棄
