doctype html
html(lang=ja)
	head
		title Admin Page
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		script(rel="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

	body
		.container
			h2 ユーザー一覧

			table.table.table-striped
				thead
					tr
						th #
						th Name
						th ID
						th E-Mail
				tbody
					each key, index in users
						tr
							td #{index}
							td #{key.name}
							td #{key.id}
							td #{key.email}