doctype

head
  title Nojima_Hirota Lab Coffee Manager
  script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  script(src="/javascripts/coffeeMarathon.js", id="graph", data-user-ranks=JSON.stringify(userRanks), data-drink-ranks=JSON.stringify(drinkRanks))
  link(rel="stylesheet" href="/stylesheets/style.css")

body
  .container
    .logo
      img(src="/images/coffee.png")
      div.logo-title Vogue cafe

    .selector
      select.box(name="selectYear")
        - for (var i = 2015; i <= 2016; i++)
          if i == 2016
            option(value="#{i}" selected) #{i}年
          else
            option(value="#{i}") #{i}年
      select.box#month(name="selectMonth")
        - for (var i = 1; i <= 12; i++)
          if i == month
            option(value="#{i}" selected) #{i}月
          else
            option(value="#{i}") #{i}月
      span の売上状況

    .row
        .col-md-6.col-lg-6
            .paper
                .title コーヒーマラソン
                .graph
                  canvas#user_rank(width=300, height=200)

        .col-md-6.col-lg-6
            .paper
                .title 種類別売上
                .graph
                  canvas#coffee_rank(width=300, height=200)

    .footer
      a(href="/admin") 管理者ページ

    // h2 #{year}年 #{month} 月の詳細データ
    // form(method="post")
    //   input(type="text" name="targetMonth" value="#{month}" hidden)
    //   input#DL_csv(value="csvをDL" type="submit")

    // text#csvName(hidden) #{csvFileName}
