dectype
  head
    title Nojima_Hirota Lab Coffee Manager
    script(type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type='text/javascript' src="jquery.tablesorter.min.js")
    script(type='text/javascript' src="/javascripts/OnOff.js")
    script(type='text/javascript' src="/javascripts/Chart.js")
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    
  body
    .container
        h1 Nojima_Hirota Lab Coffee Manager
        p#price Hello

        text #{year}年
            select#month(name="month")
                option#Jan(value="1") 1
                option#Feb(value="2") 2
                option#Mar(value="3") 3
                option#Apr(value="4") 4 
                option#May(value="5") 5
                option#Jun(value="6") 6
                option#Jul(value="7") 7
                option#Aug(value="8") 8
                option#Sep(value="9") 9
                option#Oct(value="10") 10
                option#Nov(value="11") 11 
                option#Dec(value="12") 12
            text 月の売り上げ状況
          
        h1 コーヒーマラソン
        canvas#user_rank(height="300" width="600")

        h1 コーヒーの種類別売り上げ
        p 左：総売上金額 右：売り上げ個数
        canvas#coffee_rank(height="300" width="500")


        h2 #{year}年 #{month} 月の詳細データ
        form(method="post")
            input(type="text" name="targetMonth" value="#{month}" hidden)
            input#DL_csv(value="csvをDL" type="submit")
        
        text#csvName(hidden) #{csvFileName}

        p 各項目をクリックするとソートします
        table#all_data_table.all_data_table
            thead
                tr   
                    th 購入時刻
                    th 購入者  
                    th 購入品
                    th 値段

            tbody#user_data
                each key in data
                    tr
                        td(name="date") #{key.time} 
                        td #{key.name}
                        td #{key.item}
                        td #{key.value}
           
